/*** Navbar ***/
main {
  display: grid;
  grid-template-columns: 3rem auto;
  margin-bottom: 2rem;
}

.main {
  margin-left: 0.5rem;
}

@media (min-width: 769px) {
  .main {
    max-width: 1000px;
    margin: auto;
  }
}

@media (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: 19.5rem auto;
  }
}

/*** Header ***/
header {
  background-color: var(--grey);
}

header h1 {
  color: var(--dark-blue);
  font-weight: bold;
  padding: 1em;
  margin-top: 0;
}

/*** Overskrifter ***/
h2 {
  margin-top: 1rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

p {
  margin-block: 0.6rem;
  line-height: 1.8rem;
}

/*** Side-indhold ***/
/*** Guide ***/
.tal {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  background-color: var(--dark-blue);
  padding: 2.2rem;
  border-radius: 10rem;
  margin-block: 1rem;
  max-width: 8rem;
}

.beskrivelse {
  max-width: 8rem;
}

.grid_1-1-1-1 {
  text-align: center;
  margin-inline: auto;
  max-width: 8rem;
  margin-block: 2rem;
}

@media (min-width: 769px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    max-width: none;
    place-items: center;
  }
}

/*** Grå info boks ***/
.info_box {
  background-color: var(--grey);
  margin-left: none;
  padding-inline: 1rem;
  padding-block: 3rem;
}

/*** Rød husk boks ***/
.husk_box {
  background-color: var(--red);
  color: white;
  padding: 1rem;
  max-width: 400px;
}

.husk_box p {
  color: white;
}

.husk_box h3 {
  color: white;
}

@media (min-width: 1315px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 5fr 3fr;
  }

  .husk_box {
    margin-top: 2rem;
  }
}

/*** Kontakt ***/
.bold {
  font-weight: 600;
}

.grid_1-1-1 p {
  line-height: 1rem;
}

.img {
  border-radius: 10rem;
  max-width: 150px;
}

@media (min-width: 769px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 333px);
    place-items: center;
  }
}
