@font-face {
    font-family: 'Roboto Condensed';
    src: url(../font/roboto-condensed.woff2) format('woff2');
}

html {
    margin: 0 auto;
    --red: #EA5045;
    --dark-blue: #22314A;
    --grey: #EDEDED;
    --hover: #475874;
    font-family: 'Roboto Condensed';
}

body {
    margin: 0;
}

header {
    background-color: var(--grey);
}

header h1 {
    color: var(--dark-blue);
    font-weight: bold;
    padding: 1em;
    margin-top: 0;
}

main {
    display: grid;
    grid-template-columns: 3rem auto;
  }
  
  .main {
    margin-left: 0.5rem;
    z-index: 1;
  }


h1 {
    color: var(--red);
    font-size: 60px;
}

h2, h3, p {
    color: var(--dark-blue);
}

h2 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 0.3em;
}

.overskrifter {
    margin-left: 1em;
    padding: 1em;
}

h3 {
    font-size: 28px;
}

img {
    max-width: 100%;
    margin: 0;
}

.produkt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    /* border: solid 1px black; */
    margin: 1em;
    padding: 1em;
    height: 200px;
    width: 100%;
}

.produkt-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.produkt-info h3, p {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

.read-more {
    background-color: var(--dark-blue);
    color: white;
    padding: 0.7em 0.7em;
    text-decoration: none;
    margin-top: auto;
    width: 90px;
}

.read-more:hover {
    background-color: var(--hover);
}

@media (max-width: 699px) {
    .header-navbar {
        display: none;
    }

    .footer-web {
        display: none;
    }
}

@media (min-width: 700px) {
    .header-mobile {
        display: none;
    }

    .footer-mobile {
        display: none;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main {
        display: grid;
        grid-template-columns: 19.5rem auto;
      }

    .main {
        max-width: 1000px;
        margin: auto;
      }
    }

