.arrowbox {
  background-color: var(--green);
  padding: 2%;
  width: 15%;
}
.infocard1 {
  place-content: center;
  padding: 5%;
  margin: 10%;
}

.infocard1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--dark-blue);
}

.infobox {
  width: 200px;
}

@media screen and (max-width: 699px) {
  .infocard1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0%;
    margin-top: 1%;
  }
}
