.category {
    display: flex;
    flex-direction: row; /* Align image and text/button side by side */
    align-items: center; /* Vertically center items */
    margin-bottom: 20px; /* Optional: Adds space between categories */
}

.category img {
    max-height: 200px;
    max-width: 300px;
    margin-right: 20px; /* Space between the image and the text/button */
}

.text-button {
    display: flex;
    flex-direction: column; /* Stack text and button vertically */
    align-items: flex-start; /* Align text and button to the start of the flex container */
}

button {
    background-color: var(--dark-blue);
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Space between the text and the button */
}
